.panel-wrapper,
.panel-inner,
.minor,
.major,
.cell {
  display: block;
}
.panel-wrapper .panel-inner {
  margin: 0 auto;
  padding: 60px 0;
  width: 1200px;
}
.segment {
  display: flex;
  flex-flow: row wrap;
}
.prime-segment {
  display: flex;
  flex-flow: row nowrap;
}
.prime-segment > aside {
  flex-shrink: 0;
}
.prime-segment > article {
  flex-grow: 1;
}
.minor,
.major,
.cell {
  flex-grow: 0;
  flex-shrink: 0;
}
.stack > .minor:nth-child(1n),
.stack > .major:nth-child(1n),
.stack > .cell:nth-child(1n),
.half > .minor:nth-child(1n),
.half > .major:nth-child(1n),
.half > .cell:nth-child(1n),
.half > .minor:nth-child(2n),
.half > .major:nth-child(2n),
.half > .cell:nth-child(2n),
.thirds > .minor:nth-child(1n),
.thirds > .major:nth-child(1n),
.thirds > .cell:nth-child(1n),
.fourths > .minor:nth-child(1n),
.fourths > .major:nth-child(1n),
.fourths > .cell:nth-child(1n),
.fourths.major-in-the-middle > .minor:nth-child(1n),
.fourths.major-in-the-middle > .major:nth-child(1n),
.fifths > .minor:nth-child(1n),
.fifths > .major:nth-child(1n),
.fifths > .cell:nth-child(1n),
.fifths.major-in-the-middle > .minor:nth-child(1n),
.fifths.major-in-the-middle > .major:nth-child(1n),
.sixths > .cell:nth-child(1n),
.sevenths > .minor:nth-child(1n),
.sevenths > .major:nth-child(1n),
.sevenths > .cell:nth-child(1n),
.prime-segment > aside:nth-child(1n),
.prime-segment > article:nth-child(1n) {
  margin-right: 15px;
  margin-left: 0;
}
.stack > .minor:last-child,
.stack > .major:last-child,
.stack > .cell:last-child,
.half > .minor:last-child,
.half > .major:last-child,
.half > .cell:last-child,
.thirds > .minor:last-child,
.thirds > .major:last-child,
.thirds > .cell:last-child,
.fourths > .minor:last-child,
.fourths > .major:last-child,
.fourths > .cell:last-child,
.fourths.major-in-the-middle > .minor:last-child,
.fourths.major-in-the-middle > .major:last-child,
.fifths > .minor:last-child,
.fifths > .major:last-child,
.fifths > .cell:last-child,
.fifths.major-in-the-middle > .minor:last-child,
.fifths.major-in-the-middle > .major:last-child,
.sixths > .cell:last-child,
.sevenths > .minor:last-child,
.sevenths > .major:last-child,
.sevenths > .cell:last-child,
.prime-segment > aside:last-child,
.prime-segment > article:last-child {
  margin-right: 0;
}
.stack > .minor:nth-child(1n),
.stack > .major:nth-child(1n),
.stack > .cell:nth-child(1n),
.half > .minor:nth-child(2n),
.half > .major:nth-child(2n),
.half > .cell:nth-child(2n),
.thirds > .minor:nth-child(3n),
.thirds > .major:nth-child(3n),
.thirds > .cell:nth-child(3n),
.fourths > .minor:nth-child(4n),
.fourths > .major:nth-child(4n),
.fourths > .cell:nth-child(4n),
.fourths.major-in-the-middle > .minor:nth-child(4n),
.fourths.major-in-the-middle > .major:nth-child(4n),
.fifths > .minor:nth-child(5n),
.fifths > .major:nth-child(5n),
.fifths > .cell:nth-child(5n),
.fifths.major-in-the-middle > .minor:nth-child(5n),
.fifths.major-in-the-middle > .major:nth-child(5n),
.sixths > .cell:nth-child(6n),
.sevenths > .minor:nth-child(7n),
.sevenths > .major:nth-child(7n),
.sevenths > .cell:nth-child(7n),
.prime-segment > aside:nth-child(2n),
.prime-segment > article:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}
.stack > .minor,
.stack > .major,
.stack > .cell {
  flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
}
.half > .minor,
.half > .major,
.half > .cell,
.fourths.major-in-the-middle > .major {
  flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
}
.thirds > .minor,
.thirds > .cell,
.thirds.major-in-the-middle > .minor,
.thirds.major-in-the-middle > .major {
  flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
}
.thirds > .major {
  flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
}
.fourths > .cell,
.fourths.major-in-the-middle > .minor {
  flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
}
.fifths > .minor {
  flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
}
.fifths > .major {
  flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
}
.fifths.true > .minor {
  flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
}
.fifths.true > .major,
.fifths.major-in-the-middle > .major {
  flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
}
.fifths > .cell,
.fifths.major-in-the-middle > .minor {
  flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
}
.sixths > .cell {
  flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
}
.sevenths > .minor {
  flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
}
.sevenths > .major {
  flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
}
.sevenths.true > .minor {
  flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
}
.sevenths.true > .major {
  flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
}
.sevenths > .cell {
  flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
}
@media only screen and (max-width: calc(1200px + 50px)) {
  .panel-wrapper .panel-inner {
    padding: 60px 25px;
    width: calc(100% - 50px);
  }
}
@media only screen and (max-width: 1199px) {
  .lg-half > .minor:nth-child(1n),
  .lg-half > .major:nth-child(1n),
  .lg-half > .cell:nth-child(1n),
  .lg-half > .minor:nth-child(2n),
  .lg-half > .major:nth-child(2n),
  .lg-half > .cell:nth-child(2n),
  .lg-thirds > .minor:nth-child(1n),
  .lg-thirds > .major:nth-child(1n),
  .lg-thirds > .cell:nth-child(1n),
  .lg-fourths > .minor:nth-child(1n),
  .lg-fourths > .major:nth-child(1n),
  .lg-fourths > .cell:nth-child(1n),
  .lg-fourths.major-in-the-middle > .minor:nth-child(1n),
  .lg-fourths.major-in-the-middle > .major:nth-child(1n),
  .lg-fifths > .minor:nth-child(1n),
  .lg-fifths > .major:nth-child(1n),
  .lg-fifths > .cell:nth-child(1n),
  .lg-sixths > .cell:nth-child(1n),
  .lg-sevenths > .minor:nth-child(1n),
  .lg-sevenths > .major:nth-child(1n),
  .lg-sevenths > .cell:nth-child(1n) {
    margin-right: 15px;
    margin-left: 0;
  }
  .lg-half > .minor:last-child,
  .lg-half > .major:last-child,
  .lg-half > .cell:last-child,
  .lg-thirds > .minor:last-child,
  .lg-thirds > .major:last-child,
  .lg-thirds > .cell:last-child,
  .lg-fourths > .minor:last-child,
  .lg-fourths > .major:last-child,
  .lg-fourths > .cell:last-child,
  .lg-fourths.major-in-the-middle > .minor:last-child,
  .lg-fourths.major-in-the-middle > .major:last-child,
  .lg-fifths > .minor:last-child,
  .lg-fifths > .major:last-child,
  .lg-fifths > .cell:last-child,
  .lg-sixths > .cell:last-child,
  .lg-sevenths > .minor:last-child,
  .lg-sevenths > .major:last-child,
  .lg-sevenths > .cell:last-child {
    margin-right: 0;
  }
  .lg-half > .minor:nth-child(2n),
  .lg-half > .major:nth-child(2n),
  .lg-half > .cell:nth-child(2n),
  .lg-thirds > .minor:nth-child(3n),
  .lg-thirds > .major:nth-child(3n),
  .lg-thirds > .cell:nth-child(3n),
  .lg-fourths > .minor:nth-child(4n),
  .lg-fourths > .major:nth-child(4n),
  .lg-fourths > .cell:nth-child(4n),
  .lg-fourths.major-in-the-middle > .minor:nth-child(4n),
  .lg-fourths.major-in-the-middle > .major:nth-child(4n),
  .lg-fifths > .minor:nth-child(5n),
  .lg-fifths > .major:nth-child(5n),
  .lg-fifths > .cell:nth-child(5n),
  .lg-sixths > .cell:nth-child(6n),
  .lg-sevenths > .minor:nth-child(7n),
  .lg-sevenths > .major:nth-child(7n),
  .lg-sevenths > .cell:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
  }
  .lg-stack > .minor,
  .lg-stack > .major,
  .lg-stack > .cell {
    flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  }
  .lg-half > .minor,
  .lg-half > .major,
  .lg-half > .cell,
  .lg-fourths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  }
  .lg-thirds > .minor,
  .lg-thirds > .cell,
  .lg-thirds.major-in-the-middle > .minor,
  .lg-thirds.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  }
  .lg-thirds > .major {
    flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  }
  .lg-fourths > .cell,
  .lg-fourths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  }
  .lg-fifths > .minor {
    flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  }
  .lg-fifths > .major {
    flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  }
  .lg-fifths.true > .minor {
    flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  }
  .lg-fifths.true > .major,
  .lg-fifths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  }
  .lg-fifths > .cell,
  .lg-fifths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  }
  .lg-sixths > .cell {
    flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  }
  .lg-sevenths > .minor {
    flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  }
  .lg-sevenths > .major {
    flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  }
  .lg-sevenths.true > .minor {
    flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  }
  .lg-sevenths.true > .major {
    flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  }
  .lg-sevenths > .cell {
    flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  }
}
@media only screen and (max-width: 960px) {
  .md-half > .minor:nth-child(1n),
  .md-half > .major:nth-child(1n),
  .md-half > .cell:nth-child(1n),
  .md-half > .minor:nth-child(2n),
  .md-half > .major:nth-child(2n),
  .md-half > .cell:nth-child(2n),
  .md-thirds > .minor:nth-child(1n),
  .md-thirds > .major:nth-child(1n),
  .md-thirds > .cell:nth-child(1n),
  .md-fourths > .minor:nth-child(1n),
  .md-fourths > .major:nth-child(1n),
  .md-fourths > .cell:nth-child(1n),
  .md-fourths.major-in-the-middle > .minor:nth-child(1n),
  .md-fourths.major-in-the-middle > .major:nth-child(1n),
  .md-fifths > .minor:nth-child(1n),
  .md-fifths > .major:nth-child(1n),
  .md-fifths > .cell:nth-child(1n),
  .md-sixths > .cell:nth-child(1n),
  .md-sevenths > .minor:nth-child(1n),
  .md-sevenths > .major:nth-child(1n),
  .md-sevenths > .cell:nth-child(1n) {
    margin-right: 15px;
    margin-left: 0;
  }
  .md-half > .minor:last-child,
  .md-half > .major:last-child,
  .md-half > .cell:last-child,
  .md-thirds > .minor:last-child,
  .md-thirds > .major:last-child,
  .md-thirds > .cell:last-child,
  .md-fourths > .minor:last-child,
  .md-fourths > .major:last-child,
  .md-fourths > .cell:last-child,
  .md-fourths.major-in-the-middle > .minor:last-child,
  .md-fourths.major-in-the-middle > .major:last-child,
  .md-fifths > .minor:last-child,
  .md-fifths > .major:last-child,
  .md-fifths > .cell:last-child,
  .md-sixths > .cell:last-child,
  .md-sevenths > .minor:last-child,
  .md-sevenths > .major:last-child,
  .md-sevenths > .cell:last-child {
    margin-right: 0;
  }
  .md-half > .minor:nth-child(2n),
  .md-half > .major:nth-child(2n),
  .md-half > .cell:nth-child(2n),
  .md-thirds > .minor:nth-child(3n),
  .md-thirds > .major:nth-child(3n),
  .md-thirds > .cell:nth-child(3n),
  .md-fourths > .minor:nth-child(4n),
  .md-fourths > .major:nth-child(4n),
  .md-fourths > .cell:nth-child(4n),
  .md-fourths.major-in-the-middle > .minor:nth-child(4n),
  .md-fourths.major-in-the-middle > .major:nth-child(4n),
  .md-fifths > .minor:nth-child(5n),
  .md-fifths > .major:nth-child(5n),
  .md-fifths > .cell:nth-child(5n),
  .md-sixths > .cell:nth-child(6n),
  .md-sevenths > .minor:nth-child(7n),
  .md-sevenths > .major:nth-child(7n),
  .md-sevenths > .cell:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
  }
  .md-stack > .minor,
  .md-stack > .major,
  .md-stack > .cell {
    flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  }
  .md-half > .minor,
  .md-half > .major,
  .md-half > .cell,
  .md-fourths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  }
  .md-thirds > .minor,
  .md-thirds > .cell,
  .md-thirds.major-in-the-middle > .minor,
  .md-thirds.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  }
  .md-thirds > .major {
    flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  }
  .md-fourths > .cell,
  .md-fourths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  }
  .md-fifths > .minor {
    flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  }
  .md-fifths > .major {
    flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  }
  .md-fifths.true > .minor {
    flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  }
  .md-fifths.true > .major,
  .md-fifths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  }
  .md-fifths > .cell,
  .md-fifths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  }
  .md-sixths > .cell {
    flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  }
  .md-sevenths > .minor {
    flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  }
  .md-sevenths > .major {
    flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  }
  .md-sevenths.true > .minor {
    flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  }
  .md-sevenths.true > .major {
    flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  }
  .md-sevenths > .cell {
    flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  }
}
@media only screen and (max-width: 768px) {
  .tablet-half > .minor:nth-child(1n),
  .tablet-half > .major:nth-child(1n),
  .tablet-half > .cell:nth-child(1n),
  .tablet-half > .minor:nth-child(2n),
  .tablet-half > .major:nth-child(2n),
  .tablet-half > .cell:nth-child(2n),
  .tablet-thirds > .minor:nth-child(1n),
  .tablet-thirds > .major:nth-child(1n),
  .tablet-thirds > .cell:nth-child(1n),
  .tablet-fourths > .minor:nth-child(1n),
  .tablet-fourths > .major:nth-child(1n),
  .tablet-fourths > .cell:nth-child(1n),
  .tablet-fourths.major-in-the-middle > .minor:nth-child(1n),
  .tablet-fourths.major-in-the-middle > .major:nth-child(1n),
  .tablet-fifths > .minor:nth-child(1n),
  .tablet-fifths > .major:nth-child(1n),
  .tablet-fifths > .cell:nth-child(1n),
  .tablet-sixths > .cell:nth-child(1n),
  .tablet-sevenths > .minor:nth-child(1n),
  .tablet-sevenths > .major:nth-child(1n),
  .tablet-sevenths > .cell:nth-child(1n) {
    margin-right: 15px;
    margin-left: 0;
  }
  .tablet-half > .minor:last-child,
  .tablet-half > .major:last-child,
  .tablet-half > .cell:last-child,
  .tablet-thirds > .minor:last-child,
  .tablet-thirds > .major:last-child,
  .tablet-thirds > .cell:last-child,
  .tablet-fourths > .minor:last-child,
  .tablet-fourths > .major:last-child,
  .tablet-fourths > .cell:last-child,
  .tablet-fourths.major-in-the-middle > .minor:last-child,
  .tablet-fourths.major-in-the-middle > .major:last-child,
  .tablet-fifths > .minor:last-child,
  .tablet-fifths > .major:last-child,
  .tablet-fifths > .cell:last-child,
  .tablet-sixths > .cell:last-child,
  .tablet-sevenths > .minor:last-child,
  .tablet-sevenths > .major:last-child,
  .tablet-sevenths > .cell:last-child {
    margin-right: 0;
  }
  .tablet-half > .minor:nth-child(2n),
  .tablet-half > .major:nth-child(2n),
  .tablet-half > .cell:nth-child(2n),
  .tablet-thirds > .minor:nth-child(3n),
  .tablet-thirds > .major:nth-child(3n),
  .tablet-thirds > .cell:nth-child(3n),
  .tablet-fourths > .minor:nth-child(4n),
  .tablet-fourths > .major:nth-child(4n),
  .tablet-fourths > .cell:nth-child(4n),
  .tablet-fourths.major-in-the-middle > .minor:nth-child(4n),
  .tablet-fourths.major-in-the-middle > .major:nth-child(4n),
  .tablet-fifths > .minor:nth-child(5n),
  .tablet-fifths > .major:nth-child(5n),
  .tablet-fifths > .cell:nth-child(5n),
  .tablet-sixths > .cell:nth-child(6n),
  .tablet-sevenths > .minor:nth-child(7n),
  .tablet-sevenths > .major:nth-child(7n),
  .tablet-sevenths > .cell:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
  }
  .tablet-stack > .minor,
  .tablet-stack > .major,
  .tablet-stack > .cell {
    flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  }
  .tablet-half > .minor,
  .tablet-half > .major,
  .tablet-half > .cell,
  .tablet-fourths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  }
  .tablet-thirds > .minor,
  .tablet-thirds > .cell,
  .tablet-thirds.major-in-the-middle > .minor,
  .tablet-thirds.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  }
  .tablet-thirds > .major {
    flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  }
  .tablet-fourths > .cell,
  .tablet-fourths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  }
  .tablet-fifths > .minor {
    flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  }
  .tablet-fifths > .major {
    flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  }
  .tablet-fifths.true > .minor {
    flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  }
  .tablet-fifths.true > .major,
  .tablet-fifths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  }
  .tablet-fifths > .cell,
  .tablet-fifths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  }
  .tablet-sixths > .cell {
    flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  }
  .tablet-sevenths > .minor {
    flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  }
  .tablet-sevenths > .major {
    flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  }
  .tablet-sevenths.true > .minor {
    flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  }
  .tablet-sevenths.true > .major {
    flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  }
  .tablet-sevenths > .cell {
    flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  }
}
@media screen and (max-width: 640px) {
  .sm-half > .minor:nth-child(1n),
  .sm-half > .major:nth-child(1n),
  .sm-half > .cell:nth-child(1n),
  .sm-half > .minor:nth-child(2n),
  .sm-half > .major:nth-child(2n),
  .sm-half > .cell:nth-child(2n),
  .sm-thirds > .minor:nth-child(1n),
  .sm-thirds > .major:nth-child(1n),
  .sm-thirds > .cell:nth-child(1n),
  .sm-fourths > .minor:nth-child(1n),
  .sm-fourths > .major:nth-child(1n),
  .sm-fourths > .cell:nth-child(1n),
  .sm-fourths.major-in-the-middle > .minor:nth-child(1n),
  .sm-fourths.major-in-the-middle > .major:nth-child(1n),
  .sm-fifths > .minor:nth-child(1n),
  .sm-fifths > .major:nth-child(1n),
  .sm-fifths > .cell:nth-child(1n),
  .sm-sixths > .cell:nth-child(1n),
  .sm-sevenths > .minor:nth-child(1n),
  .sm-sevenths > .major:nth-child(1n),
  .sm-sevenths > .cell:nth-child(1n) {
    margin-right: 15px;
    margin-left: 0;
  }
  .sm-half > .minor:last-child,
  .sm-half > .major:last-child,
  .sm-half > .cell:last-child,
  .sm-thirds > .minor:last-child,
  .sm-thirds > .major:last-child,
  .sm-thirds > .cell:last-child,
  .sm-fourths > .minor:last-child,
  .sm-fourths > .major:last-child,
  .sm-fourths > .cell:last-child,
  .sm-fourths.major-in-the-middle > .minor:last-child,
  .sm-fourths.major-in-the-middle > .major:last-child,
  .sm-fifths > .minor:last-child,
  .sm-fifths > .major:last-child,
  .sm-fifths > .cell:last-child,
  .sm-sixths > .cell:last-child,
  .sm-sevenths > .minor:last-child,
  .sm-sevenths > .major:last-child,
  .sm-sevenths > .cell:last-child {
    margin-right: 0;
  }
  .sm-half > .minor:nth-child(2n),
  .sm-half > .major:nth-child(2n),
  .sm-half > .cell:nth-child(2n),
  .sm-thirds > .minor:nth-child(3n),
  .sm-thirds > .major:nth-child(3n),
  .sm-thirds > .cell:nth-child(3n),
  .sm-fourths > .minor:nth-child(4n),
  .sm-fourths > .major:nth-child(4n),
  .sm-fourths > .cell:nth-child(4n),
  .sm-fourths.major-in-the-middle > .minor:nth-child(4n),
  .sm-fourths.major-in-the-middle > .major:nth-child(4n),
  .sm-fifths > .minor:nth-child(5n),
  .sm-fifths > .major:nth-child(5n),
  .sm-fifths > .cell:nth-child(5n),
  .sm-sixths > .cell:nth-child(6n),
  .sm-sevenths > .minor:nth-child(7n),
  .sm-sevenths > .major:nth-child(7n),
  .sm-sevenths > .cell:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
  }
  .sm-stack > .minor,
  .sm-stack > .major,
  .sm-stack > .cell {
    flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  }
  .sm-half > .minor,
  .sm-half > .major,
  .sm-half > .cell,
  .sm-fourths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  }
  .sm-thirds > .minor,
  .sm-thirds > .cell,
  .sm-thirds.major-in-the-middle > .minor,
  .sm-thirds.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  }
  .sm-thirds > .major {
    flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  }
  .sm-fourths > .cell,
  .sm-fourths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  }
  .sm-fifths > .minor {
    flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  }
  .sm-fifths > .major {
    flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  }
  .sm-fifths.true > .minor {
    flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  }
  .sm-fifths.true > .major,
  .sm-fifths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  }
  .sm-fifths > .cell,
  .sm-fifths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  }
  .sm-sixths > .cell {
    flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  }
  .sm-sevenths > .minor {
    flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  }
  .sm-sevenths > .major {
    flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  }
  .sm-sevenths.true > .minor {
    flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  }
  .sm-sevenths.true > .major {
    flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  }
  .sm-sevenths > .cell {
    flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  }
}
@media screen and (max-width: 420px) {
  .xs-half > .minor:nth-child(1n),
  .xs-half > .major:nth-child(1n),
  .xs-half > .cell:nth-child(1n),
  .xs-half > .minor:nth-child(2n),
  .xs-half > .major:nth-child(2n),
  .xs-half > .cell:nth-child(2n),
  .xs-thirds > .minor:nth-child(1n),
  .xs-thirds > .major:nth-child(1n),
  .xs-thirds > .cell:nth-child(1n),
  .xs-fourths > .minor:nth-child(1n),
  .xs-fourths > .major:nth-child(1n),
  .xs-fourths > .cell:nth-child(1n),
  .xs-fourths.major-in-the-middle > .minor:nth-child(1n),
  .xs-fourths.major-in-the-middle > .major:nth-child(1n),
  .xs-fifths > .minor:nth-child(1n),
  .xs-fifths > .major:nth-child(1n),
  .xs-fifths > .cell:nth-child(1n),
  .xs-sixths > .cell:nth-child(1n),
  .xs-sevenths > .minor:nth-child(1n),
  .xs-sevenths > .major:nth-child(1n),
  .xs-sevenths > .cell:nth-child(1n) {
    margin-right: 15px;
    margin-left: 0;
  }
  .xs-half > .minor:last-child,
  .xs-half > .major:last-child,
  .xs-half > .cell:last-child,
  .xs-thirds > .minor:last-child,
  .xs-thirds > .major:last-child,
  .xs-thirds > .cell:last-child,
  .xs-fourths > .minor:last-child,
  .xs-fourths > .major:last-child,
  .xs-fourths > .cell:last-child,
  .xs-fourths.major-in-the-middle > .minor:last-child,
  .xs-fourths.major-in-the-middle > .major:last-child,
  .xs-fifths > .minor:last-child,
  .xs-fifths > .major:last-child,
  .xs-fifths > .cell:last-child,
  .xs-sixths > .cell:last-child,
  .xs-sevenths > .minor:last-child,
  .xs-sevenths > .major:last-child,
  .xs-sevenths > .cell:last-child {
    margin-right: 0;
  }
  .xs-half > .minor:nth-child(2n),
  .xs-half > .major:nth-child(2n),
  .xs-half > .cell:nth-child(2n),
  .xs-thirds > .minor:nth-child(3n),
  .xs-thirds > .major:nth-child(3n),
  .xs-thirds > .cell:nth-child(3n),
  .xs-fourths > .minor:nth-child(4n),
  .xs-fourths > .major:nth-child(4n),
  .xs-fourths > .cell:nth-child(4n),
  .xs-fourths.major-in-the-middle > .minor:nth-child(4n),
  .xs-fourths.major-in-the-middle > .major:nth-child(4n),
  .xs-fifths > .minor:nth-child(5n),
  .xs-fifths > .major:nth-child(5n),
  .xs-fifths > .cell:nth-child(5n),
  .xs-sixths > .cell:nth-child(6n),
  .xs-sevenths > .minor:nth-child(7n),
  .xs-sevenths > .major:nth-child(7n),
  .xs-sevenths > .cell:nth-child(7n) {
    margin-right: 0;
    margin-left: auto;
  }
  .xs-stack > .minor,
  .xs-stack > .major,
  .xs-stack > .cell {
    flex-basis: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    max-width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
    width: calc(99.98% * 1/1 - (15px - 15px * 1/1));
  }
  .xs-half > .minor,
  .xs-half > .major,
  .xs-half > .cell,
  .xs-fourths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    max-width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
    width: calc(99.98% * 1/2 - (15px - 15px * 1/2));
  }
  .xs-thirds > .minor,
  .xs-thirds > .cell,
  .xs-thirds.major-in-the-middle > .minor,
  .xs-thirds.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    max-width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
    width: calc(99.98% * 1/3 - (15px - 15px * 1/3));
  }
  .xs-thirds > .major {
    flex-basis: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    max-width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
    width: calc(99.98% * 2/3 - (15px - 15px * 2/3));
  }
  .xs-fourths > .cell,
  .xs-fourths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    max-width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
    width: calc(99.98% * 1/4 - (15px - 15px * 1/4));
  }
  .xs-fifths > .minor {
    flex-basis: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    max-width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
    width: calc(99.98% * 5/13 - (15px - 15px * 5/13));
  }
  .xs-fifths > .major {
    flex-basis: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    max-width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
    width: calc(99.98% * 8/13 - (15px - 15px * 8/13));
  }
  .xs-fifths.true > .minor {
    flex-basis: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    max-width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
    width: calc(99.98% * 2/5 - (15px - 15px * 2/5));
  }
  .xs-fifths.true > .major,
  .xs-fifths.major-in-the-middle > .major {
    flex-basis: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    max-width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
    width: calc(99.98% * 3/5 - (15px - 15px * 3/5));
  }
  .xs-fifths > .cell,
  .xs-fifths.major-in-the-middle > .minor {
    flex-basis: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    max-width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
    width: calc(99.98% * 1/5 - (15px - 15px * 1/5));
  }
  .xs-sixths > .cell {
    flex-basis: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    max-width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
    width: calc(99.98% * 1/6 - (15px - 15px * 1/6));
  }
  .xs-sevenths > .minor {
    flex-basis: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    max-width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
    width: calc(99.98% * 10/23 - (15px - 15px * 10/23));
  }
  .xs-sevenths > .major {
    flex-basis: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    max-width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
    width: calc(99.98% * 13/23 - (15px - 15px * 13/23));
  }
  .xs-sevenths.true > .minor {
    flex-basis: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    max-width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
    width: calc(99.98% * 3/7 - (15px - 15px * 3/7));
  }
  .xs-sevenths.true > .major {
    flex-basis: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    max-width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
    width: calc(99.98% * 4/7 - (15px - 15px * 4/7));
  }
  .xs-sevenths > .cell {
    flex-basis: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    max-width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
    width: calc(99.98% * 1/7 - (15px - 15px * 1/7));
  }
}
.vertical-center {
  align-items: center;
}
gutter,
.clear-wrap {
  margin: 40px 0;
}
.wrap {
  margin: 15px 0;
  padding: 15px;
}
.border-wrap {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid inherit;
}
.rack {
  display: flex;
  flex-flow: row wrap;
}
.rack > div,
.rack > span,
.rack > a {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}
.rack.compress > div,
.rack.compress > span,
.rack.compress > a {
  flex-grow: 0;
}
.rack.compress > div,
.rack.compress > span,
.rack.compress > a {
  padding-left: 10px;
  padding-right: 10px;
}
.rack.compress > div:first-child,
.rack.compress > span:first-child,
.rack.compress > a:first-child {
  padding-left: 0;
}
.rack.compress > div:last-child,
.rack.compress > span:last-child,
.rack.compress > a:last-child {
  padding-right: 0;
}
.with-dividers div,
.with-dividers span,
.with-dividers a {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: inherit;
}
.with-dividers div:last-child,
.with-dividers a:last-child {
  border-right: none;
}
