'.text.html.basic':
  'panels':
    'prefix': 'panel'
    'body': """<panel-wrapper>
\t<panel-inner>
\t\t$1
\t</panel-inner>
</panel-wrapper>"""
  'half':
    'prefix': 'half'
    'body': """<segment-elem class="half">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
</segment-elem>"""
  'thirds':
    'prefix': 'thirds'
    'body': """<segment-elem class="thirds">
\t<x-minor>$1</x-minor>
\t<x-major>$2</x-major>
</segment-elem>"""
  'thirds columns':
    'prefix': 'thirds-cell'
    'body': """<segment-elem class="thirds">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
\t<x-cell>$3</x-cell>
</segment-elem>"""
  'fourths':
    'prefix': 'fourths'
    'body': """<segment-elem class="fourths">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
\t<x-cell>$3</x-cell>
\t<x-cell>$4</x-cell>
</segment-elem>"""
  'fifths':
    'prefix': 'fifths'
    'body': """<segment-elem class="fifths">
\t<x-minor>$1</x-minor>
\t<x-major>$2</x-major>
</segment-elem>"""
  'fifths columns':
    'prefix': 'fifths-cell'
    'body': """<segment-elem class="fifths">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
\t<x-cell>$3</x-cell>
\t<x-cell>$4</x-cell>
\t<x-cell>$5</x-cell>
</segment-elem>"""
  'sixths':
    'prefix': 'sixths'
    'body': """<segment-elem class="sixths">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
\t<x-cell>$3</x-cell>
\t<x-cell>$4</x-cell>
\t<x-cell>$5</x-cell>
\t<x-cell>$6</x-cell>
</segment-elem>"""
  'sevenths':
    'prefix': 'sevenths'
    'body': """<segment-elem class="sevenths">
\t<x-minor>$1</x-minor>
\t<x-major>$2</x-major>
</segment-elem>"""
  'sevenths columns':
    'prefix': 'sevenths-cell'
    'body': """<segment-elem class="sevenths">
\t<x-cell>$1</x-cell>
\t<x-cell>$2</x-cell>
\t<x-cell>$3</x-cell>
\t<x-cell>$4</x-cell>
\t<x-cell>$5</x-cell>
\t<x-cell>$6</x-cell>
\t<x-cell>$7</x-cell>
</segment-elem>"""
